/*mis stilos sass*/

@import 'mystyles/colors';

/*Fondo*/
.bg-color-azul-oscuro{background:$azul_oscuro;}
.bg-color-azul{background:$azul;}
.bg-color-azul-claro{background:$azul_claro;}

.bg-color-verde{background:$verde;}


/*Textos*/
.text-color-white{color:$white;}

/*leaderboard*/
#leaderboard{
	background:$white;

	.regions{
		background-color:transparent;
	}
}

#system-branding-block{
	color:$azul;
	font-weight: bold;
	a{
		color:$azul;
		font-weight: bold;
	}
}
/*Header*/
#masthead{
	background:$white;
	/* padding-top: 20px;
	height:100px; */
}

#navbar{
	background-color:$white;
	color:$azul;height: 50px;
	padding-top: 8px;
}

/** Menu Principal */
.l-navbar{
	margin-bottom: 10px;
}
#rid-navbar{
	color:$azul;
    margin-bottom: 10px;
}
#superfishmain{
	ul{
		li{
			a{
				text-transform:uppercase;
				font-size: 12px;
				font-weight: 700;
				border-radius: 4px 4px 0 0;
				&:hover{
					color:$white;
					text-transform:uppercase;
					font-size: 12px;
					font-weight: 700;
					text-decoration: none;
					border-radius: 4px 4px 0 0;
					background: $azul;
					margin-right:3px;
				}
				&.is-active{
					border-radius: 4px;
					background: $azul;
					color:white;
					margin-right:3px;
				}
			}
		}
	}
}
#rid-features-first,#rid-features-second,#rid-features-third{
	h2{
	    font-size: 13px;
	    text-transform: uppercase;
	    font-weight: bold;
	    background: #f7f7f7;
	    padding: 5px;
	    border-radius: 4px 4px 0 0;
	    color: #0088bc;
	    height: 42px;
	    padding: 15px;
	    margin:0px;
    }
    .block{
	    border: solid;
	    border-right-width: 1px;
	    border-color: #CCC;
	    border-width: 1px;
	    border-radius: 4px;
	    .view-rows{
			padding:10px;
			font-size: 0.9rem;
			.views-field-field-concepto{
				font-weight: bold;
			}
	    }

    }
}
/*

 */
/**	Top Menu **/
#superfish-account--2{

	float: right;
	a{
		color: #8c8686;
		text-decoration: none;
		&:hover{
			background: #f9e5e5;
    		border-radius: 5px;
		}
	}
}

#main-content{
	background:white;
	.container{
		background:white;
	}
}


/* Feature Box */
.feature-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.feature-box .feature-box-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: $azul;
	border-radius: 100%;
	color: #FFF;
	font-size: 16px;
	font-size: 1rem;
	position: relative;
	top: 7px;
	text-align: center;
	padding: 0.8em;
	height: 1px;
	min-width: 2.7em;
	min-height: 2.7em;
}

.feature-box .feature-box-info {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	padding-left: 15px;
}

.feature-box.align-items-center .feature-box-icon {
	top: 0;
}

