/*mis stilos sass*/
/**	Colores **/
/*Fondo*/
.bg-color-azul-oscuro {
  background: #01366c; }

.bg-color-azul {
  background: #0088bc; }

.bg-color-azul-claro {
  background: #007ac3; }

.bg-color-verde {
  background: #0aadaa; }

/*Textos*/
.text-color-white {
  color: #fff; }

/*leaderboard*/
#leaderboard {
  background: #fff; }
  #leaderboard .regions {
    background-color: transparent; }

#system-branding-block {
  color: #0088bc;
  font-weight: bold; }
  #system-branding-block a {
    color: #0088bc;
    font-weight: bold; }

/*Header*/
#masthead {
  background: #fff;
  /* padding-top: 20px;
  height:100px; */ }

#navbar {
  background-color: #fff;
  color: #0088bc;
  height: 50px;
  padding-top: 8px; }

/** Menu Principal */
.l-navbar {
  margin-bottom: 10px; }

#rid-navbar {
  color: #0088bc;
  margin-bottom: 10px; }

#superfishmain ul li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px 4px 0 0; }
  #superfishmain ul li a:hover {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    background: #0088bc;
    margin-right: 3px; }
  #superfishmain ul li a.is-active {
    border-radius: 4px;
    background: #0088bc;
    color: white;
    margin-right: 3px; }

#rid-features-first h2, #rid-features-second h2, #rid-features-third h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f7f7;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  color: #0088bc;
  height: 42px;
  padding: 15px;
  margin: 0px; }
#rid-features-first .block, #rid-features-second .block, #rid-features-third .block {
  border: solid;
  border-right-width: 1px;
  border-color: #CCC;
  border-width: 1px;
  border-radius: 4px; }
  #rid-features-first .block .view-rows, #rid-features-second .block .view-rows, #rid-features-third .block .view-rows {
    padding: 10px;
    font-size: 0.9rem; }
    #rid-features-first .block .view-rows .views-field-field-concepto, #rid-features-second .block .view-rows .views-field-field-concepto, #rid-features-third .block .view-rows .views-field-field-concepto {
      font-weight: bold; }

/*

 */
/**	Top Menu **/
#superfish-account--2 {
  float: right; }
  #superfish-account--2 a {
    color: #8c8686;
    text-decoration: none; }
    #superfish-account--2 a:hover {
      background: #f9e5e5;
      border-radius: 5px; }

#main-content {
  background: white; }
  #main-content .container {
    background: white; }

/* Feature Box */
.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.feature-box .feature-box-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #0088bc;
  border-radius: 100%;
  color: #FFF;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  top: 7px;
  text-align: center;
  padding: 0.8em;
  height: 1px;
  min-width: 2.7em;
  min-height: 2.7em; }

.feature-box .feature-box-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-left: 15px; }

.feature-box.align-items-center .feature-box-icon {
  top: 0; }

.cantidad_de_ingreso {
  color: blue;
  font-weight: bold; }

.cantidad_de_salida {
  color: red;
  font-weight: bold; }

/*# sourceMappingURL=custom.css.map */
