{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: theme_lfmc
 * Generated on: Sun, 29 Apr 18 16:52:13 +0000
 */
#}
{{ attach_library('theme_lfmc/theme_lfmc.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
